<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>The Greatest Grocery List in Existance</h1>
    <span>as long as you don't have any other options</span>


    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
</body>
</html>