h1{
    color: red;
    font-weight: bold;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

.alert alert-danger {
    color: red;
    }


/*comments*/
/*made .alert alert-danger in red color text*/
/*added font-weight: bold; for h1*/

